<h1 class="text-nowrap text-right">Welcome,{{username}}!</h1>
<div class="form-group">
    <form action="/weekly" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2" name="name">
        </div>
        <div class="form-group">
            <label for="done">What you`ve done</label>
            <textarea name="done" class="form-control" rows="6"></textarea>
        </div>
        <div class="form-group">
            <label for="plan">People who involed in your project</label>
            <div class="radio">
                <label>
    <input type="radio" name="involve" id="involve" value="option1">
    wenzhenyu
  </label>
            </div>
            <div class="radio">
                <label>
    <input type="radio" name="involve" id="involve" value="option2">
    zhonglianbo
  </label>
            </div>
            <div class="radio disabled">
                <label>
    <input type="radio" name="involve" id="involve" value="option3" >
    caijidi
  </label>
            </div>
        </div>
        <div class="form-group">
            <label for="plan">What`s your plan next week</label>
            <textarea name="plan" class="form-control" rows="4"></textarea>
        </div>
                <div class="form-group">
            <label for="description">What`s your Opinion</label>
            <textarea name="description" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>