<p>{{username}}</p>
<div>
    {{#each projects}}
    <div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">{{name}}</h4>
    <p class="list-group-item-text">{{status}}</p>
  </a>
</div>
    {{/each}}
</div>
