<h1 class="text-nowrap text-right">Welcome,{{username}}!</h1>
<div class="page-header">
    <h1>个人主页 <small>查看待办事项</small></h1>
</div>
<div class="row">
    <a>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-family:sans-serif;font-weight:800">My projects</div>
                <div class="panel-body">
                    <p style="font-size:40px;text-align:center">我的项目</p>
                </div>
            </div>
        </div>
    </a>
    <a href="/weekly">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading" style="font-family:sans-serif;font-weight:800">My weekly</div>
                <div class="panel-body">
                    <p style="font-size:40px;text-align:center">我的周报</p>
                </div>
            </div>
        </div>
    </a>
    <a>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="font-family:sans-serif;font-weight:800">My devices</div>
                <div class="panel-body">
                    <p style="font-size:40px;text-align:center">我的样机</p>
                </div>
            </div>
        </div>
    </a>
    <a href="/addWeekly">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading" style="font-family:sans-serif;font-weight:800">Add weekly</div>
                <div class="panel-body">
                    <p style="font-size:40px;text-align:center">写周报</p>
                </div>
            </div>
        </div>
    </a>
</div>